<section>
<h1 id='headerTitle'>Next Job</h1>
  <div id='NextJobDiv'>
    <div class='NextJob'>
      <span class="NextJobSpan">
        <mat-form-field class="NextJobInput">
          <mat-label>Job</mat-label>
            <mat-select>
              <mat-option *ngFor="let Job of jobs" [value]="Job.value">
                {{Job.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="NextJobDate">
          <input matInput [matDatepicker]="picker" placeholder="Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
      </span>
      <br>
      <button mat-flat-button id="submitItem" routerLink="/home">Update</button>
      <br>
    </div>
  </div>

</section>