<section>
  <!-- START Client/ Job Info. Gets client information and job information using id's that correspond to the client and the job. -->
  <h1 id="headerTitle">{{jobs[id].JobTitle}}</h1>
  <div class="ClientInfo">
    <mat-list class="ClientInfoList" >
        
      <mat-list-item class="InfoHeading">Name: </mat-list-item>
        <mat-list-item class="ClientData"> {{cs.getClientById(jobs[id].clientJob).name}} </mat-list-item>
      <mat-list-item class="InfoHeading">Phone Number: </mat-list-item>
        <mat-list-item class="ClientData">{{cs.getClientById(jobs[id].clientJob).Pnum}} </mat-list-item>

      <mat-list-item class="InfoHeading">Email: </mat-list-item>
        <mat-list-item class="ClientData">{{cs.getClientById(jobs[id].clientJob).Email}} </mat-list-item>

      <mat-list-item class="InfoHeading">Address: </mat-list-item>
        <mat-list-item class="ClientData">{{cs.getClientById(jobs[id].clientJob).Add1}} {{cs.getClientById(jobs[id].clientJob).Add2}} {{cs.getClientById(jobs[id].clientJob).city}}, {{cs.getClientById(jobs[id].clientJob).state}}, {{cs.getClientById(jobs[id].clientJob).Pcode}} </mat-list-item>

      <mat-list-item class="InfoHeading">Quote: </mat-list-item>
        <mat-list-item class="ClientData">${{jobs[id].quote}}</mat-list-item>
      
      <!-- Will display closed or open depending on the data passed from the job database -->
      <mat-list-item class="InfoHeading">Job Status: </mat-list-item>
        <mat-list-item *ngIf="jobs[id].JobStatus == true" class="JobStatusOpen">Open</mat-list-item>
        <mat-list-item *ngIf="jobs[id].JobStatus == false" class="JobStatusClosed">Closed</mat-list-item>
        
      <mat-list-item class="InfoHeading">Date Started: </mat-list-item>
        <mat-list-item class="ClientData">{{jobs[id].startDate | date :'dd/MM/yyyy'}}</mat-list-item>

      <mat-list-item class="InfoHeading">Date Due: </mat-list-item>
        <mat-list-item class="ClientData">{{jobs[id].finishDate | date :'dd/MM/yyyy'}}</mat-list-item>

      </mat-list>
      <br>
      <!-- Will display closed or reopen depending on the data passed from the job database -->
    <div class="ButtonDiv">
      <button mat-flat-button id="EditItem" [routerLink]="['/editjob', id]">Edit</button>
      <button mat-flat-button *ngIf="jobs[id].JobStatus == true" id="CloseItem" (click)="CloseJob()">Close Job</button>
      <button mat-flat-button *ngIf="jobs[id].JobStatus == false" id="ReopenItem" (click)="ReopenJob()">Reopen Job</button>
      <button mat-flat-button id="DeleteJob" (click)="DeleteJob()">Delete Job</button>
    </div>
  </div>
  <!-- END Client/ Job Info -->

  <!-- START To Do List -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <div class="PanelTitle">To Do List</div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="ToDoListDiv">
        <!-- Displays each to do list item under a particular job. They are sorted by the to do list status which determines whether an item is complete or not -->
        <mat-list *ngFor="let toDo of jobs[id].ToDoList; let i=index;" class="ToDoListClass">
          <mat-list-item *ngIf="toDo.toDoStatus == false" class="ToDoListItem">
            {{toDo.toDoItem}}
          <span class="editItem">
            <mat-icon *ngIf="toDo.toDoStatus == false" (click)="checkedToDo(i)"><strong>check</strong></mat-icon>
            <mat-icon *ngIf="toDo.toDoStatus == false" (click)="editToDoList(i)">edit</mat-icon>
            <mat-icon *ngIf="toDo.toDoStatus == false" (click)="deleteToDoList(i)">delete</mat-icon>
          </span> 
          </mat-list-item>

          <mat-list-item *ngIf="toDo.toDoStatus == true" class="ToDoListItemComplete">
            {{toDo.toDoItem}}
          <span class="editItem">
            <mat-icon *ngIf="toDo.toDoStatus == true" (click)="uncheckedToDo(i)"><strong>close</strong></mat-icon>
            <mat-icon *ngIf="toDo.toDoStatus == true" (click)="editToDoList(i)">edit</mat-icon>
            <mat-icon *ngIf="toDo.toDoStatus == true" (click)="deleteToDoList(i)">delete</mat-icon>
          </span>
          </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>
        <!-- START To Do List Inputs -->
        <form *ngIf="!editToDoValue" (submit)="addTodo()">
          <mat-form-field class="NewItem">
            <input matInput placeholder="New Item" (keyup.enter)="toDoItem=''" name="toDoItem" [(ngModel)]="toDoItem">
          </mat-form-field>

          <button mat-flat-button id="submitItem" type="submit" [disabled]="toDoItem===''">Add</button>
        </form>

        <form *ngIf="editToDoValue" (submit)="submitEditToDoList()">
          <mat-form-field class="NewItem">
            <input matInput (keyup.enter)="toDoListEdit=''" name="toDoListEdit" [(ngModel)]="toDoListEdit.toDoItem">
          </mat-form-field>

          <button mat-flat-button id="submitItem" type="submit" (disabled)="toDoListEdit===''">Update</button>
        </form>
        <!-- END To Do List Inputs -->
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- END To Do List -->

  <br>

  <!-- START Job Log -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <div class="PanelTitle">Job Log</div>
        </mat-panel-title>
      </mat-expansion-panel-header>

    <div class="JobLogDiv">

      <!-- Mat-List: This is where the Job Log will go -->
      <mat-list *ngFor="let jobLog of jobs[id].JobLog; let i=index;" class="JobLog">
        <mat-list-item>
          <div class='JobLogDetails'> <strong>{{jobLog.jobLogDate | date :'dd/MM/yyyy'}} </strong> | {{jobLog.jobLogHours + " Hours"}} <br> {{jobLog.jobLogItem}}</div>
          <span class="editItem">
            <mat-icon (click)="editJobLog(i)">edit</mat-icon>
            <mat-icon (click)="deleteJobLog(i)">delete</mat-icon>
          </span>
        </mat-list-item>
      </mat-list>

      
      <!-- Mat-List END -->
      <div *ngIf="jobs[id].JobLog !== null"><strong>Total Hours: </strong> {{getTotalHours()}}</div>

      <mat-divider></mat-divider>

      <form *ngIf="!editJobLogValue" (submit)="addJobLog()">
        <span class="JobLogDH">
          <mat-form-field class="JobLogInputDate">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="jobLogDate" (keyup.enter)="jobLogDate=''" name="jobLogDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="JobLogInput">
            <input matInput type="number" placeholder="Hours" [(ngModel)]="jobLogHours" (keyup.enter)="jobLogHours=''" name="jobLogHours">
          </mat-form-field>
        </span>

        <mat-form-field class="NewItem">
          <input matInput placeholder="New Item" [(ngModel)]="jobLogItem" (keyup.enter)="jobLogItem=''" name="jobLogItem">
        </mat-form-field>

        <button mat-flat-button id="submitItem" type="submit" (disabled)="jobLogObj===''">Add</button>
      </form>

      <form *ngIf="editJobLogValue" (submit)="submitEditJobLog()">
        <span class="JobLogDH">
          <mat-form-field class="JobLogInputDate">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="jobLogEdit.jobLogDate" (keyup.enter)="jobLogDate=''" name="jobLogDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="JobLogInput">
            <input matInput type="number" placeholder="Hours" [(ngModel)]="jobLogEdit.jobLogHours" (keyup.enter)="jobLogHours=''" name="jobLogHours">
          </mat-form-field>
        </span>

        <mat-form-field class="NewItem">
          <input matInput placeholder="New Item" [(ngModel)]="jobLogEdit.jobLogItem" (keyup.enter)="jobLogItem=''" name="jobLogItem">
        </mat-form-field>

        <button mat-flat-button id="submitItem" type="submit" (disabled)="jobLogEdit===''">Update</button>
      </form>
    </div>

    </mat-expansion-panel>
  </mat-accordion>
  <!-- END Job Log -->

  <br>

<!-- START Expenses -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <div class="PanelTitle">Expenses</div>
        </mat-panel-title>
      </mat-expansion-panel-header>

    <div class="ExpensesLogDiv">

      <table class="ExpensesTable">
        <th>Qty</th>
        <th>Item</th>
        <th>Cost</th>
        <th>Total</th>
        <th>Edit</th>
        <tr *ngFor="let expense of jobs[id].ExpensesLog ; let i=index;" >
          <td>{{expense.expenseQty}}</td>
          <td>{{expense.expenseItem}}</td>
          <td>{{expense.expensePrice}}</td>
          <td id="totalItemCost">{{expense.expensePrice * expense.expenseQty}}</td>
          <td class="EditCell">
            <span class="editItemExp">
              <mat-icon (click)="editExpense(i)">edit</mat-icon>
              <mat-icon (click)="deleteExpense(i)">delete</mat-icon>
            </span>
          </td>
        </tr>
      </table>
        <br>
          <div *ngIf="jobs[id].ExpensesLog !== null"><strong>Total Expenses: </strong> ${{getTotalExpense()}}</div>

            <mat-divider></mat-divider>

            <form *ngIf="!editExpensesValue" (submit)="addExpense()">
              <span class="ExpensesSpan">
                <mat-form-field class="QtyInput">
                  <input matInput type="number" placeholder="Qty" [(ngModel)]="expenseQty" (keyup.enter)="expenseQty=''" name="expenseQty">
                </mat-form-field>

                <mat-form-field class="ItemCost">
                  <input matInput type="number" placeholder="Price" [(ngModel)]="expensePrice" (keyup.enter)="expensePrice=''" name="expensePrice">
                </mat-form-field>
              </span>

              <mat-form-field class="ItemExpenses">
                <input matInput placeholder="New item" [(ngModel)]="expenseItem" (keyup.enter)="expenseItem=''" name="expenseItem">
              </mat-form-field>

              <button mat-flat-button id="submitItem" type="submit" (disabled)="expensesObj===''">Add</button>
            </form>

            <form *ngIf="editExpensesValue" (submit)="submitEditExpense()">
              <span class="ExpensesSpan">
                <mat-form-field class="QtyInput">
                  <input matInput type="number" placeholder="Qty" [(ngModel)]="expenseEdit.expenseQty" (keyup.enter)="expenseQty=''" name="expenseQty">
                </mat-form-field>

                <mat-form-field class="ItemCost">
                  <input matInput type="number" placeholder="Price" [(ngModel)]="expenseEdit.expensePrice" (keyup.enter)="expensePrice=''" name="expensePrice">
                </mat-form-field>
              </span>

              <mat-form-field class="ItemExpenses">
                <input matInput placeholder="New item" [(ngModel)]="expenseEdit.expenseItem" (keyup.enter)="expenseItem=''" name="expenseItem">
              </mat-form-field>

              <button mat-flat-button id="submitItem" type="submit" (disabled)="expensesObj===''">Update</button>
            </form>
          </div>

    </mat-expansion-panel>
  </mat-accordion>
  <!-- END Expenses -->

</section>