<section>

<!-- Todays Job START -->
<div id='TodayJobDiv'>
  <div class='TodayJob'>
    <span class='TodayJobSpan'>
      <h1 id='TodayHeading'>Next Job: 01/12/19</h1> 
    </span>
    <span class='TodayJobSpan'>
      <div class='TodayJobElement'>{{todaysJobData}} </div>
    </span>
    <br>
    <button mat-flat-button id="submitItem" routerLink="/editnextjob">Edit</button>
    <br>
  </div>
</div>
<!-- Todays Job END -->

<h1 id='headerTitle'>Current Jobs</h1>
<!-- Client Jobs START -->
<!-- Need to fix id here -->
<div class='ClientJobsDiv' *ngFor="let item of jobs; let i=index">
  <button mat-button class='ClientJobs' [routerLink]="['/clientjob', i]">
   {{item.JobTitle}} - {{cs.getClientById(item.clientJob).name}}
  </button>
</div>

<!-- Client Jobs END -->

 <button mat-fab class='NewJobButton' routerLink="/addjob">+</button>

</section>

