section {
  height: 100vh;
}
/* Todays Jobs Elements START */
#TodayJobDiv {
  padding-top: 10px;
  
}

.TodayJob {
  background-color: white;
  border-radius: 25px;
}

#TodayHeading {
  color: black;
  font-size: 15px;
  text-align: left;
  padding-left: 15px;
  width: 90px;
  border-right-style: solid;
  border-right-color: lightgrey;
  border-right-width: 1px;
  

}

.TodayJobElement {
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 25px;
  
  
}

.TodayJobSpan {
  display: inline-block;
}

/* Todays Jobs Elements END */


/* Client Jobs Elements START */

.ClientJobsDiv {
  padding-bottom: 10px;
}

.ClientJobs {
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  width: 100%;
  transition: 0.3s;
}

.ClientJobs:active {
  background-image: linear-gradient(87deg,  rgb(30,200,220) 50%, rgb(45,180,235) 75%);
  color: white;
  border-style: solid;
  border-color: white;
}

/* Client Jobs Elements END */

.NewJobButton {
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.NewJobButton:active {
  background-color: white;
  
}

.NewJobButton:active:after {
  background-color: white;
  transition: 5.8s;
}

#submitItem {
  background-color: rgb(30,200,220);
  color: white;
  display: block;
  margin: auto;
  border-radius: 25px;
  width: 75px;
  transition: 0.3s;
}

#submitItem:hover {
  background-color: rgb(45,180,235);
}