<section>
  <h1 id="headerTitle">Client Information</h1>
  <!-- START Displays client information -->
  <div class="ClientInfo">
    <mat-list-item class="ClientData">
      <div>
        <strong>Name:</strong> <br> {{clients[id].name}} <br> <br>
        <strong>Phone Number:</strong> <br> {{clients[id].Pnum}} <br> <br>
        <strong>Email:</strong> <br> {{clients[id].Email}} <br> <br>
        <strong>Address:</strong> <br> {{clients[id].Add1}}, {{clients[id].Add2}} {{clients[id].city}}, {{clients[id].state}}, {{clients[id].Pcode}}
      </div>
    </mat-list-item>

    <br>

    <div class="ButtonDiv">
      <button mat-flat-button id="EditItem" [routerLink]="['/editclient', id]">Edit</button>
      <button mat-flat-button id="DeleteClient" (click)="deleteClient()">Delete</button>
    </div>
  </div>
  <!-- END Displays client information -->
  
  <div class='CreateJobButtonDiv'>
    <button mat-button class='CreateJobButton' routerLink="/addjob">
      Create Job
    </button>
  </div>

  <!-- START Displays active jobs under the clients name -->
  <h1 id="headerTitle">Active Jobs</h1>
  <div class='ClientJobDiv' *ngFor="let item of jobs; let i=index">
    <button mat-button *ngIf="jobs[i].clientJob == clients[id].id && jobs[i].JobStatus == true" class='ClientJob' [routerLink]="['/clientjob', i]">
    {{item.JobTitle}} - {{cs.getClientById(item.clientJob).name}}
    </button>
  </div>
  <!-- END active jobs -->

  <!-- START Displays closed jobs under the clients name -->
  <h1 id="headerTitle">Closed Jobs</h1>
  <div class='ClientJobDiv' *ngFor="let item of jobs; let i=index">
    <button mat-button *ngIf="jobs[i].clientJob == clients[id].id && jobs[i].JobStatus == false" class='ClosedClientJobs' [routerLink]="['/clientjob', i]">
    {{item.JobTitle}} - {{cs.getClientById(item.clientJob).name}}
    </button>
  </div>
   <!-- END Displays closed jobs -->

</section>