<section>
  <h1 id="headerTitle">Client Information</h1>
    <div class="ClientInfo">
     
      <mat-list-item class="ClientData">
        <div>
          <strong>Name:</strong> <br> {{clients[id].name}} <br> <br>
          <strong>Phone Number:</strong> <br> {{clients[id].Pnum}} <br> <br>
          <strong>Email:</strong> <br> {{clients[id].Email}} <br> <br>
          <strong>Address:</strong> <br> {{clients[id].Add1}}, {{clients[id].Add2}} {{clients[id].city}}, {{clients[id].state}}, {{clients[id].Pcode}}
          
        </div>
      </mat-list-item>
     
      <br>
      <div class="ButtonDiv">
        <button mat-flat-button id="EditItem" [routerLink]="['/editclient', id]">Edit</button>
        <button mat-flat-button id="DeleteClient" (click)="deleteClient()">Delete</button>
      </div>
    </div>

    <div class='ClientJobDiv'>
      <button mat-button class='ClientJob' routerLink="/clientjob">
        Kitchen Reconstruction
      </button>
    </div>


    <div class='CreateJobButtonDiv'>
      <button mat-button class='CreateJobButton' routerLink="/addjob">
        Create Job
      </button>
    </div>
</section>